.mbtn {
    background-color: white;
    border: 2px #00615d solid;
    color: #00615d;
    font-weight: bold;
    height: 70px;
    width: 100%;
}

.mbtn:hover {
    background-color: #00615d;
    color: white;
}