tr {
  height: 10vh;
}

thead > tr {
  height: 4vh;
}

tr > td {
  width: 15vh;
}

.legend:hover {
  cursor: pointer;
}
.popover-body {
  padding: 5px;
  display: block;
  margin: 2px;
}
.tag {
  width: max-content;
  border-radius: 2px;
  padding: 0px 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-weight: 400;
}

.custom-popover {
  --bs-popover-border-radius: 4px;
  --bs-popover-border-width: 1px;
  --bs-popover-border-color: var(--main-color);
}
